/* RESET CSS MODERNO Y OPTIMIZADO */
html {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background: #e6e0d3;
  color: #222;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
ul,
ol {
  list-style: none;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
button,
input,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}
button {
  cursor: pointer;
}
/* Mejor compatibilidad para navegadores */
@media (prefers-color-scheme: dark) {
  body {
    background: #222;
    /* color: #f7f6f2; */
  }
}
